USE [master]
GO
/****** Object:  Database [MapaCalor]    Script Date: 19/11/2025 05:19:40 p. m. ******/
DROP DATABASE IF EXISTS [MapaCalor]
GO
CREATE DATABASE [MapaCalor]
GO
-- ALTER DATABASE [MapaCalor] SET COMPATIBILITY_LEVEL = 160
-- GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MapaCalor].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MapaCalor]
GO
/****** Object:  Table [dbo].[CasosDengue]    Script Date: 19/11/2025 05:19:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CasosDengue](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ano] [int] NOT NULL,
	[semana] [int] NOT NULL,
	[tipo_dx] [varchar](50) NOT NULL,
	[ubigeo] [varchar](6) NOT NULL,
	[edad] [int] NULL,
	[sexo] [varchar](15) NULL,
	[fecha_ini] [datetime] NULL,
	[fecha_not] [datetime] NULL,
	[latitud] [decimal](15, 12) NULL,
	[longitud] [decimal](15, 12) NULL,
	[causas] [varchar](120) NULL,
	[distrito] [varchar](120) NULL,
	[provincia] [varchar](120) NULL,
	[departamento] [varchar](120) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 19/11/2025 05:19:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[idDepartamento] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[ubigeo] [char](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distritos]    Script Date: 19/11/2025 05:19:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distritos](
	[idDistrito] [int] IDENTITY(1,1) NOT NULL,
	[idProvincia] [int] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[ubigeo] [char](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDistrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincias]    Script Date: 19/11/2025 05:19:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincias](
	[idProvincia] [int] IDENTITY(1,1) NOT NULL,
	[idDepartamento] [int] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[ubigeo] [char](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Distritos]  WITH CHECK ADD FOREIGN KEY([idProvincia])
REFERENCES [dbo].[Provincias] ([idProvincia])
GO
ALTER TABLE [dbo].[Provincias]  WITH CHECK ADD FOREIGN KEY([idDepartamento])
REFERENCES [dbo].[Departamentos] ([idDepartamento])
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarCasoDengue]    Script Date: 19/11/2025 05:19:40 p. m. ******/
-- SET ANSI_NULLS ON
-- GO
-- SET QUOTED_IDENTIFIER ON
-- GO

-- CREATE PROCEDURE [dbo].[sp_InsertarCasoDengue]
--   @anio INT,
--   @semana INT,
--   @fechaNotificacion DATE,
--   @departamento NVARCHAR(100),
--   @provincia NVARCHAR(100),
--   @distrito NVARCHAR(100),
--   @ubigeo NVARCHAR(10),
--   @sexo NVARCHAR(10),
--   @edad INT,
--   @casos INT,
--   @fallecidos INT
-- AS
-- BEGIN
--   SET NOCOUNT ON;

--   MERGE INTO [dbo].[CasosDengue] AS Target
--   USING (VALUES (
--     @anio, @semana, @fechaNotificacion, @departamento,
--     @provincia, @distrito, @ubigeo, @sexo, @edad, @casos, @fallecidos
--   )) AS Source (anio, semana, fechaNotificacion, departamento, provincia, distrito, ubigeo, sexo, edad, casos, fallecidos)
--   ON Target.anio = Source.anio
--      AND Target.semana = Source.semana
--      AND Target.fechaNotificacion = Source.fechaNotificacion
--      AND Target.ubigeo = Source.ubigeo
--      AND Target.sexo = Source.sexo
--      AND Target.edad = Source.edad
--   WHEN NOT MATCHED THEN
--       INSERT (anio, semana, fechaNotificacion, departamento, provincia, distrito, ubigeo, sexo, edad, casos, fallecidos)
--       VALUES (Source.anio, Source.semana, Source.fechaNotificacion, Source.departamento, Source.provincia, Source.distrito, Source.ubigeo, Source.sexo, Source.edad, Source.casos, Source.fallecidos);
-- END;
-- GO
-- USE [master]
-- GO
ALTER DATABASE [MapaCalor] SET  READ_WRITE 
GO
